// Tamaños

$medida-ms : "screen and (max-width: 23.5em)"; // up to 360px
$medida-xs : "screen and (max-width: 35.5em)"; // up to 568px
$medida-sm : "screen and (max-width: 48em)"; // max 768px
$medida-md : "screen and (max-width: 64em)"; // max 1024px
$medida-lg : "screen and (max-width: 80em)"; // max 1280px
