@import "globals.scss";
.searchInput {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../icon/descarga.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
}

.searchInput:focus {
    width: 50%;
}

@media #{$medida-xs} {
    .searchInput {
        width: 50%;
    }

    .searchInput:focus {
        width: 100%;
    }
}