.parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parent button {
    background-color: #bcc0c9;
    color: white;
    border: none;
    padding: 5px;
    font-size: 12px;
    height: 40px;
    width: 40px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .parent button:active {
    background-color: #48abe0;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  .parent button:not(:first-child) {
    margin-left: 10px;
  }
  
  .round {
    border-radius: 70%;
  }