@import "globals.scss";

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  * {
    position: relative
  }

  td,
  th {
    padding-left: 8px
  }

  thead tr {
    height: 60px;
    background: #bcc0c9;
    font-size: 16px;
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid #c7c7c7;

    &:last-child {
      border: 0;
    }
  }

  td,
  th {
    text-align: left;

    &.l {
      text-align: right
    }

    &.c {
      text-align: center
    }

    &.r {
      text-align: center
    }
  }
}


@media #{$medida-xs} {

  table {
    display: block;

    >*,
    tr,
    td,
    th {
      display: block
    }

    thead {
      display: none
    }

    tbody tr {
      height: auto;
      padding: 8px 0;

      td {
        padding-left: 45%;
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0
        }

        &:before {
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0
        }

        &:nth-child(1):before {
          content: "Nombre";
        }

        &:nth-child(2):before {
          content: "Precio";
        }

      }
    }
  }
}



